.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #32363d;
}

 html body{font-family:"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-size:16px;
    line-height:1.6;
    color:#abb2bf;
    background-color:#282c34;
    overflow:initial;
    box-sizing:border-box;
    word-wrap:break-word}
    
html body h1,html body h2,html body h3,html body h4,html body h5,html body h6{line-height:1.2;
    margin-top:1em;
    margin-bottom:16px;
    color:#fff}
    
html body h1{font-size:2.25em;
    font-weight:300;
    padding-bottom:.3em}
    
html body h2{font-size:1.75em;
    font-weight:400;
    padding-bottom:.3em}
    
html body h3{font-size:1.5em;
    font-weight:500}
    
html body h4{font-size:1.25em;
    font-weight:600}
    
html body h5{font-size:1.1em;
    font-weight:600}
    
html body h6{font-size:1em;
    font-weight:600}
    
html body h1,html body h2,html body h3,html body h4,html body h5{font-weight:600}
    
html body h5{font-size:1em}
    
html body h6{color:#7c879c}
    
html body strong{color:#fff}
    
html body del{color:#7c879c}
